@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,500);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);







a, p, strong, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

li {
    list-style: none;
    outline: none;
}

a:focus, input:focus {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}






.center {
    text-align: center;
}



.title-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    position: relative;
}

.title-text h3 {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    line-height: 30px;
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    letter-spacing: 2px;
    font-weight: 700;
}

.title-text h3:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    left: 50%;
    bottom: 0px;
    margin-left: -25px;
    background: #000;
}

.title-text p {
    font-size: 14px;
    color: #888888;
    line-height: 25px;
    font-family: "TXGR";
    margin-top: 10px;
}

.title-text.title-text-v2 {
    text-align: left;
    margin: 30px 0px;
}

.title-text.title-text-v2:before {
    position: static;
}

.title-text.title-text-v2 h3 {
    font: 400 36px/40px "Roboto Slab";
    padding: 0;
    color: #2b2b2b;
}

.title-text.title-text-v2.title-text-v3 {
    position: relative;
}

.title-text.title-text-v2.title-text-v3 h3 {
    font-size: 36px;
    color: #555555;
    position: relative;
}

.title-text.title-text-v2.title-text-v3 h3:after {
    position: absolute;
    content: "";
    top: -50px;
    background: #6dd6d6;
    height: 5px;
    width: 30px;
    left: 0px;
}

.title-text.title-text-v2.title-text-v3 p {
    font-family: "Lora";
    font-style: italic;
    color: #888888;
    width: 100%;
    margin-top: 30px;
}

.title-text.title-text-v2.title-text-v3 ul.tabs {
    position: absolute;
    top: 0px;
    right: 0px;
}

.title-text.title-text-v2.title-text-v3 ul.tabs li {
    font-family: "Lora";
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #888888;
}

.title-text.title-text-v2.title-text-v3 ul.tabs li.active, .title-text.title-text-v2.title-text-v3 ul.tabs li:hover {
    color: #6dd6d6;
    border-bottom: 1px solid #6dd6d6;
}

.title-text.title-about {
    margin-top: 0px;
}

.title-text.title-about h3 {
    background: none;
}

.title-text.title-about:before {
    position: static;
}

.title-text.border-color-red h3:after {
    background: #e95252;
}

.title-text-v2 {
    text-align: center;
}

.title-text-v2 h3 {
    font: 400 36px/40px "Roboto Slab";
    color: #2b2b2b;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.title-text-v2 .link {
    font: 400 12px/20px "Roboto Slab";
    color: #999;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.border-title {
    width: 100%;
    display: inline-block;
    height: 1px;
    background: #ececec;
    margin-bottom: 30px;
}

h3.title-v2 {
    margin-bottom: 30px;
    text-align: left;
    font: 700 16px/20px "Roboto";
    color: #2b2b2b;
}

.align-center {
    text-align: center;
}

h3.title-v3 {
    font: 700 14px/20px "Oswald";
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.title-brand {
    color: #80b435;
    font: 700 30px "Roboto Slab";
    margin-bottom: 15px;
}

.tile-lookbook-v2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.tile-lookbook-v2 span.icons {
    font-size: 80px;
    color: #000;
}

.tile-lookbook-v2 p {
    font: 400 24px "Playfair Display";
    color: #000;
    line-height: 30px;
    padding: 20px;
    max-width: 1120px;
    margin: 0 auto;
}

.tile-lookbook-v2 p b {
    font-weight: 700;
}

.tile-lookbook-v2 p span {
    font-style: italic;
}

.tile-lookbook-v2 h3 {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 30px;
    position: relative;
    padding-top: 20px;
    margin-top: 10px;
}

.tile-lookbook-v2 h3:after {
    position: absolute;
    content: "";
    left: 50%;
    width: 60px;
    height: 2px;
    background: #e8e8e8;
    margin-left: -30px;
    top: 0px;
}

.title-product {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.title-product h3 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
}



.slider-product.tabs-title-v2 {
    text-align: center;
    position: relative;
}

.slider-product.tabs-title-v2:before {
    content: "";
    background: #e8e8e8;
    width: 100%;
    left: 0px;
    top: 50px;
    height: 1px;
    position: absolute;
}

.slider-product.tabs-title-v2 .tabs {
    border: none;
    position: relative;
    width: auto;
    margin: 0 auto 30px;
    background: #fff;
}

.slider-product.tabs-title-v2 .tabs li:hover:before, .slider-product.tabs-title-v2 .tabs li.active:before {
    bottom: -8px;
    background: #e95252;
}

ul.tabs.tabs-title.tabs-title-por li {
    padding: 0 30px;
}


.title-v2 {
    width: 100%;
    text-align: center;
}

.title-v2 h3 {
    display: inline-block;
    font-size: 28px;
    font-family: "NexaBold";
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.title-v2 h3:after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #666;
    bottom: 0px;
    left: 50%;
    margin-left: -33px;
}







.title-page h3 {
    font-size: 80px;
    display: inline-block;
    width: 100%;
    font-family: "Playfair Display";
    color: #000;
    text-align: center;
    position: relative;
    line-height: 55px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}



.title-page.size-50 h3 {
    font-size: 50px;
    margin: 10px;
}

.title-page.size-50 p {
    text-align: center;
    font: 300 12px/20px "Oswald";
    color: #a5a5a5;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

ul.tabs.title span {
    font-size: 30px;
    color: #222;
}

ul.tabs.title li {
    font-size: 30px;
    color: #222;
}

ul.tabs.title li.active, ul.tabs.title li:hover {
    color: #808f66;
}

.choose-us .title-choose {
    text-align: center;
    margin-bottom: 50px;
}

.choose-us .title-choose h4 {
    font: 400 30px/35px "Roboto Slab";
    text-transform: capitalize;
    color: #80b435;
}

.choose-us .title-choose h3 {
    font: 400 48px/50px "Roboto Slab";
    color: #2b2b2b;
    text-transform: capitalize;
    margin-bottom: 20px;
}

@media (max-width: 420px) {
    .choose-us .title-choose h3 {
        font-size: 22px;
        line-height: 30px;
    }
}

.choose-us .title-choose p {
    max-width: 760px;
    font: 400 16px/25px "Roboto Slab";
    color: #666;
    margin: 0 auto;
}

.choose-us .title-choose.about h3 {
    font-weight: 700;
    margin-top: 20px;
}

.choose-us .title-choose.about .border-choose {
    margin-top: 30px;
}

.choose-us .title-choose.color-brand {
    margin-bottom: 80px;
}

.choose-us .title-choose.color-brand h3 {
    color: #80b435;
    text-transform: uppercase;
    font: 700 48px "Roboto Slab";
    margin-bottom: 10px;
}

.choose-us .title-choose.color-brand .border-choose {
    margin-top: 0px;
}

.choose-us .right-items h3 {
    margin-left: 0px;
    margin-right: 10px;
}

.choose-us .text {
    margin-bottom: 80px;
}

.choose-us .text h3 {
    display: inline-block;
    margin-left: 10px;
    color: #80b435;
    font: 400 24px/30px "Roboto Slab";
    margin-bottom: 20px;
}

.choose-us .text p {
    display: block;
    color: #666;
    font: 400 14px/20px "Roboto Slab";
}

.choose-us .border-choose {
    background: url("../images/bg-border-choose.png") repeat-x scroll center;
    margin: auto;
    max-width: 480px;
    text-align: center;
    margin-top: 30px;
}

.choose-us .border-choose .images {
    display: inline-block;
    width: 70px;
    text-align: center;
    background: #fff;
}

.choose-us.about-choose .items {
    width: 100%;
    display: inline-block;
    margin-top: 8px;
}

.choose-us.about-choose .items .icon {
    float: right;
    margin-left: 18px;
    display: inline-block;
    width: auto;
}

.choose-us.about-choose .items .text p {
    padding-right: 82px;
    color: #666;
}

.choose-us.about-choose .items .text h3 {
    margin-bottom: 10px;
    color: #2b2b2b;
}

@media (min-width: 768px) and (max-width: 980px) {
    .choose-us.about-choose .items .text h3 {
        font: 400 16px/30px "Roboto Slab";
    }
}

@media (min-width: 981px) and (max-width: 1199px) {
    .choose-us.about-choose .items .text h3 {
        font: 400 16px/30px "Roboto Slab";
    }
}

@media (max-width: 1200px) {
    .choose-us.about-choose .items .icon {
        float: left;
        margin-left: 0px;
        margin-right: 18px;
    }

    .choose-us.about-choose .items .text {
        text-align: left;
    }

    .choose-us.about-choose .items .text h3 {
        margin-left: 0px;
    }

    .choose-us.about-choose .items .text p {
        padding-right: 0px;
        padding-left: 82px;
    }
}

.choose-us.about-choose .align-left .icon {
    float: left;
    margin-left: 0px;
    margin-right: 18px;
}

.choose-us.about-choose .align-left .text p {
    padding-right: 0px;
    padding-left: 82px;
}

.choose-us.about-choose .align-left .text h3 {
    margin-left: 0px;
}

@media (max-width: 440px) {
    .choose-us.about-choose .col-md-4 {
        padding: 0px;
    }
}

.choose-us.choose-us-home2 .title-choose {
    margin-bottom: 10px;
    margin-top: 30px;
}

.choose-us.choose-us-home2 .title-choose h3 {
    font: 700 48px/50px "Roboto Slab";
    color: #2b2b2b;
    text-transform: inherit;
}

.choose-us.choose-us-home2 .title-choose h3 span {
    font-weight: 300;
}

.choose-us.choose-us-home2 .col-md-8 {
    padding: 0px;
}


.link-v1 {
    font: 700 16px/38px "Roboto Slab";
    color: #333;
    width: 180px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e4e4e4;
    text-transform: uppercase;
    color: #333;
    transition: all 0.3s ease 0s;
}

.link-v1.color-brand {
    color: #80b435;
    border-color: #80b435;
}

.link-v1:hover, .link-v1:focus {
    background: #80b435;
    color: #fff;
    border-color: #80b435;
}




.contact-form .col-md-6:first-child {
    padding-right: 10px;
}

.contact-form h3 {
    font-size: 18px;
    font-style: normal;
    color: #555555;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.contact-form h3::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    left: 0px;
    bottom: -25px;
    background: #ba933e;
}

.contact-form.post-comment {
    padding: 0px;
    background: none;
}

.contact-form.contact-form-bg {
    background: #f4f4f4;
}

.form-horizontal .col-md-6:nth-child(2n+1) {
    padding-left: 0px;
    padding-right: 10px;
}

.form-horizontal .col-md-6:nth-child(2n) {
    padding-right: 0px !important;
    padding-left: 10px;
}

.form-horizontal label.control-label {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    font-family: "TXGB";
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.form-horizontal .form-group.col-md-6 {
    padding-right: 10px;
}

.form-horizontal .form-group.col-md-6:last-child {
    padding-right: 0px;
    padding-left: 10px;
}

.form-control {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    color: #888888;
    padding: 9px 20px;
    line-height: 1.625;
    height: 47px;
    display: block;
    width: 100%;
    font: 400 16px "Roboto Slab";
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
    border-color: #ddd;
    box-shadow: none;
    outline: none;
}

.form-control.col-md-4 {
    width: 31.33%;
    margin-right: 3%;
}

.form-control.col-md-4:last-child {
    margin-right: 0px;
}

#googleMap {
    height: 100%;
}

.contact-content {
    display: inline-block;
    width: 100%;
}

.contact-us {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.contact-us .col-md-6:last-child {
    padding-right: 0px;
    padding-left: 30px;
}

.contact-us .contact-form {
    padding: 50px 70px 30px;
    background: #1c1c1c;
    text-align: center;
    position: relative;
}

.contact-us .contact-form:before {
    position: absolute;
    content: '';
    border: 2px solid #353535;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

.contact-us .contact-form h3 {
    font-size: 18px;
    font-style: normal;
    color: #555555;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.contact-us .contact-form h3::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 1px;
    left: 50%;
    bottom: -15px;
    background: #fff;
    margin-left: -23px;
}

.contact-us .contact-form .form-control {
    background: transparent;
    color: #636363;
    font-family: "Poppins";
    font-size: 13px;
    border: none;
    border-bottom: 2px solid #252525;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 0px;
}

.contact-us .contact-form .btn {
    border: 2px solid #fff;
    border-radius: 0px;
    color: #fff;
    padding: 7px 15px;
}

.contact-us .contact-form .icon {
    font-size: 25px;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
}

.contact-us .contact-form h3 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
}

.contact-us .contact-form p {
    color: #636363;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 12px;
    position: relative;
    margin-bottom: 100px;
}

.contact-us .contact-form p:after {
    position: absolute;
    content: "";
    left: -58px;
    right: -58px;
    height: 2px;
    bottom: -40px;
    background: #252525;
}

@media (max-width: 980px) {
    .wrappage .page-contact .head .item {
        width: 100%;
    }
}





.about-icon .feature-box p {
    font-family: "TXGR";
    font-style: normal;
}

.about-content {
    background-color: #eee;
}

.about-content .banner-title {
    text-align: center;
}

.about-content .banner-title h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
    font-family: "TXGR";
}

.about-content .banner-title p {
    font-family: "Lora";
    font-style: italic;
    color: #555555;
    line-height: 20px;
}

.about-content .effect-v6 {
    border-radius: 50%;
    background: #fff;
    border: 4px solid #80b435;
}

.about-content .effect-v6 img {
    border-radius: 50%;
}

.our-skills h3 {
    font-family: "TXGR";
    color: #555555;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .progress-bar-success {
    background: #80b435;
}

.our-skills .progress-bar {
    box-shadow: none;
    position: relative;
}

.our-skills .progress-bar span {
    position: absolute;
    top: -30px;
    right: -15px;
    color: #555555;
    font-family: "texgyreadventorbold";
    font-size: 14px;
}

.our-skills .progress {
    border-radius: 0;
    height: 8px;
    box-shadow: none;
    overflow: visible;
}

.head-about h3 {
    font: 400 30px/35px "Roboto Slab";
    color: #2b2b2b;
    margin-bottom: 25px;
}

.head-about p {
    font: 400 16px/23px "Roboto Slab";
    color: #666;
    margin-bottom: 20px;
}

.head-about .col-md-6 img.img-responsive {
    position: relative;
    z-index: 3;
}

.head-about .col-md-6.pd-left-10 {
    padding-left: 10px;
    padding-right: 45px;
    position: relative;
}

@media (max-width: 440px) {
    .head-about .col-md-6.pd-left-10 {
        padding-right: 10px;
    }
}

.head-about .col-md-6.pd-left-10 h3 {
    position: relative;
    background-color: #fff;
    z-index: 3;
    display: inline-block;
    padding-right: 45px;
}

.head-about .col-md-6.pd-left-10:before {
    position: absolute;
    content: "";
    left: -110px;
    right: 15px;
    bottom: -80px;
    top: 16px;
    border: 1px solid #80b435;
    display: inline-block;
}

.head-about .col-md-6.pd-left-10:after {
    position: absolute;
    content: '';
    left: -80px;
    height: 1px;
    width: 90px;
    background: #fff;
    top: 16px;
}

@media (max-width: 1200px) {
    .head-about .col-md-6 {
        text-align: center;
    }

    .head-about .col-md-6 img {
        margin: auto;
    }

    .head-about .col-md-6 h3 {
        margin-top: 30px;
    }

    .head-about .col-md-6.pd-left-10:before {
        border: none;
    }
}

.head-about .slider-about {
    padding: 0px 40px;
}

.about-choose {
    background: #f7f7f7;
}

.about-choose h3 {
    font: 400 48px/50px "Playfair Display";
    color: #80b435;
    margin-bottom: 30px;
}

.about-choose .choose-us .border-choose .images {
    background: #f7f7f7;
}

.about-choose .border p {
    font: 400 18px/25px "Playfair Display";
    color: #565656;
    margin: auto;
    margin-bottom: 30px;
    padding: 0 40px;
    position: relative;
    padding-bottom: 30px;
}

.about-choose .border p:before {
    position: absolute;
    left: 100px;
    right: 100px;
    height: 1px;
    bottom: 0px;
    background: #e6e6e6;
    content: '';
}

.about-choose .fbox-icon {
    font-size: 48px;
    margin-top: 0px;
}

.about-choose .feature-box .fbox-title {
    font: 700 16px/20px "Roboto Condensed";
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.our-team .head {
    margin-bottom: 40px;
}

.our-team .head h3 {
    font: 400 48px/50px "Playfair Display";
    color: #80b435;
    margin: 10px 0px;
}

.our-team .head p {
    font: 400 14px/30px "Roboto Slab";
    color: #565656;
    text-transform: capitalize;
}

.our-team .interactive-banner {
    display: inline-block;
    width: auto;
    border-radius: 50%;
    max-width: 100%;
    transition: all 0.3s ease 0s;
}

.our-team .interactive-banner:hover {
    box-shadow: 0px 8px 33px 0px rgba(0, 0, 0, 0.13);
}

.our-team .interactive-banner img {
    margin: auto;
    border-radius: 50%;
}

.our-team .banner-title h3 {
    font: 700 24px/30px "Roboto Slab";
    text-transform: uppercase;
    margin: 10px 0px;
}

.our-team .banner-title p {
    font: 400 16px/25px "Roboto Slab";
    color: #666;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
}

.our-team .banner-title p:after {
    position: absolute;
    content: '';
    width: 110px;
    height: 1px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #eee;
    margin: auto;
}

.our-team .banner-title .action a {
    display: inline-block;
    margin: 0px 8px;
    transition: all 0.3s ease 0s;
}

.our-team .banner-title .action a:hover i {
    color: #80b435;
}

.our-team .banner-title .action i {
    font-size: 16px;
    color: #333;
}

@media (max-width: 767px) {
    .about-us {
        margin-bottom: 20px;
    }

    .about-us .col-md-4:nth-child(2) .feature-box {
        margin: 40px 0px 60px;
    }
}



#secondary {
    float: left;
}

#secondary.col-md-3 {
    padding-left: 0px;
    padding-right: 30px;
    margin-bottom: 30px;
}

#secondary.col-md-3.float-right {
    float: right;
    padding-right: 0px;
    padding-left: 30px;
    border-right: none;
}

@media (min-width: 1200px) {
    #secondary.col-md-3 {
        border-right: 1px solid #d6d6d6;
    }
}

#secondary .search-form {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f5f5f5;
}

#secondary .search-form input {
    width: 100%;
    height: 48px;
    border: 1px solid #efefef;
    padding: 0 20px;
    color: #9d9d9d;
    font: 400 14px "Poppins";
    padding-right: 40px;
}

#secondary .search-form button {
    position: absolute;
    background: none;
    color: #565656;
    font-size: 16px;
    border: none;
    position: absolute;
    top: 2px;
    right: 0px;
    width: 48px;
    height: 44px;
}

#primary {
    float: right;
}

#primary.col-md-9 {
    padding-left: 20px;
    padding-right: 0px;
}

#primary.float-left {
    float: left;
    padding-left: 0px;
    padding-right: 20px;
}

#secondary.secondary-home5 {
    float: right;
}

#secondary.secondary-home5.col-md-3 {
    padding-right: 0px;
    padding-left: 20px;
}

#primary.primary-home5 {
    float: left;
}

#primary.primary-home5.col-md-9 {
    padding-right: 10px;
    padding-left: 0px;
}

.bottom-home1-title h3.title {
    font-size: 24px;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}

.page-login h3 {
    font: 700 16px/20px "Roboto Slab";
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.page-login h3:after {
    position: absolute;
    content: '';
    left: 0px;
    width: 55px;
    height: 1px;
    background: #80b435;
    bottom: 0px;
}

.page-login p {
    font: 300 14px/20px "Roboto Slab";
    color: #888;
    margin-bottom: 20px;
}

.page-login .social {
    text-align: center;
}

.page-login .social a {
    display: inline-block;
    width: calc(50% - 5px);
    color: #fff;
    font: 500 14px/40px "Roboto";
    background: #3b5998;
}

.page-login .social a i {
    margin-right: 5px;
}

.page-login .social a:last-child {
    background: #55acee;
}

.page-login form .control-label {
    font: 700 14px/20px "Roboto";
    color: #000;
    text-transform: uppercase;
}

.page-login form .form-control {
    border: 1px solid #e6e6e6;
}

.page-login form input[type=checkbox] {
    display: none;
}

.page-login form input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: #333;
    text-align: center;
    line-height: 18px;
}

.page-login form label.label-check {
    position: relative;
    width: 100%;
    display: inline-block;
    padding-left: 30px;
    float: left;
    margin: 10px 0px;
    font: 400 14px "Roboto Slab";
    color: #373737;
}

.page-login form label.label-check:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid #b5b5b5;
    background-color: #fff;
}

.page-login form .remember {
    float: left;
    width: 100%;
}

.page-login form .remember label.label-check {
    width: auto;
    font-weight: 300;
    color: #888;
    cursor: pointer;
}

.page-login .remember {
    margin: 10px 0px;
}

.page-login .remember .help {
    float: right;
    font: 300 14px/20px "Roboto Slab";
    vertical-align: bottom;
    margin-top: 12px;
}

@media (max-width: 1024px) {
    .products.grid_full .item-inner, .products.grid_full.grid_sidebar .item-inner {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .products.grid_full .item-inner, .products.grid_full.grid_sidebar .item-inner {
        width: 50%;
    }
}

@media (max-width: 467px) {
    .products.grid_full .item-inner, .products.grid_full.grid_sidebar .item-inner {
        width: 100%;
    }

    .ordering .order-by {
        margin-top: 20px;
        margin-left: 0px;
    }
}

/** 5.5. Shop Single **/
.product-details-content {
    padding-top: 50px;
}

@media (max-width: 1024px) {
    .product-details-content {
        padding-top: 30px;
    }
}

.product-details-content .options {
    position: relative;
}

.product-details-content .options input {
    background: none;
    box-shadow: none;
    border: 1px solid #d9d9d9;
    color: #2b2b2b;
    font-size: 16px;
    font-family: "Poppins";
    text-align: center;
    height: 50px;
    width: 180px;
    text-align: left;
    padding-left: 20px;
}

.product-details-content .options select {
    font: 400 18px/50px "Roboto Condensed";
    color: #565656;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    border: 1px solid #d9d9d9;
}

.product-details-content .options select:focus {
    outline: none;
}

.product-details-content .options .quantity {
    display: inline-block;
    position: relative;
    width: 84px;
    border: 2px solid #3e3e3e;
}

.product-details-content .options .quantity .minus {
    position: absolute;
    cursor: pointer;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 30px;
}



.product-details-content .options .quantity .minus i:before {
    content: "";
}

.product-details-content .options .quantity .plus {
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 0px;
    width: 40px;
    height: 30px;
}



.product-details-content .options .quantity .plus i:before {
    content: "";
}

.product-details-content .social {
    padding-top: 20px;
    border-top: 1px solid #f5f5f5;
}

.product-details-content .social h3 {
    display: inline-block;
    font: 700 14px/20px "Roboto Condensed";
    color: #000;
    text-transform: uppercase;
    vertical-align: 4px;
}

.product-details-content .social i {
    font-size: 24px;
    margin: 0px 10px;
}

.product-details-content .social a.twitter i {
    color: #55acee;
}

.product-details-content .social a.dribbble i {
    color: #e04c86;
}

.product-details-content .social a.skype i {
    color: #00aff0;
}

.product-details-content .social a.pinterest i {
    color: #bd081c;
}

.product-details-content .social a.facebook i {
    color: #3b5998;
}

.product-details-content .action {
    display: inline-block;
    padding: 0px 0px 30px;
    width: 100%;
}

.product-details-content .action a.link-v1 {
    vertical-align: top;
    margin-right: 10px;
    border: 1px solid #cdcdcd;
    height: 50px;
    line-height: 50px;
    font: 700 14px/48px "Roboto Slab";
    width: 50px;
    transition: all 0.3s ease 0s;
}

.product-details-content .action a.link-v1.add-cart {
    width: 200px;
    background: #80b435;
    color: #fff;
}

.product-details-content .action a.link-v1.add-cart:hover {
    background: #fff;
    color: #80b435;
}

.product-details-content .action a.link-v1 i {
    color: #000;
    font-size: 20px;
    line-height: 48px;
}

.product-details-content .action a.link-v1:hover {
    background: #80b435;
    border-color: #80b435;
}

.product-details-content .action a.link-v1:hover i {
    color: #fff;
}

.product-details-content .title h3 {
    font: 700 18px "Roboto Condensed";
    color: #2b2b2b;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-details-content .col-md-6:last-child {
    padding-right: 0px;
    display: inline-block;
}

.product-details-content .product-name h1 {
    color: #2b2b2b;
    font-family: "Roboto Slab";
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 50px;
    position: relative;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.product-details-content .product-name p {
    color: #888888;
    line-height: 20px;
}




.product-details-content .select-color span:last-child {
    margin-right: 0px;
}

.product-details-content .select-color span.color2 {
    background-color: #20b1ed;
}

.product-details-content .select-color span.color3 {
    background-color: #fc5a00;
}

.product-details-content .select-color span.color4 {
    background-color: #485c80;
}

.product-details-content .select-color span.color5 {
    background-color: #fdab4b;
}

.product-details-content .select-color span.color6 {
    background-color: #df3530;
}

.product-details-content .select-color span.color7 {
    background-color: #72aea1;
}

.product-details-content .select-color span.color8 {
    background-color: #3d78e2;
}

.product-details-content .select-color span.color9 {
    background-color: #3f786c;
}

.product-details-content .rating {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.product-details-content .rating .icon-rating {
    margin-right: 20px;
}

.product-details-content .rating .icon-rating input:checked ~ label, .product-details-content .rating .icon-rating input + label:hover, .product-details-content .rating .icon-rating input + label:hover ~ label {
    color: #80b435;
}

.product-details-content .rating i {
    font-size: 24px;
}

.product-details-content .rating span {
    color: #717171;
    font-size: 12px;
    font-family: "Poppins";
    vertical-align: -3px;
}

.product-details-content .wrap-price {
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.product-details-content .wrap-price p {
    font-style: normal;
    color: #80b435;
    font-size: 36px;
    font-weight: 400;
    font-family: "Roboto Condensed";
    display: inline-block;
    line-height: 40px;
}

.product-details-content .wrap-price p.price-old {
    font-size: 30px;
    line-height: 40px;
    text-decoration: line-through;
    margin-right: 20px;
    color: #979797;
}

.product-details-content .form-group {
    position: relative;
    display: inline-block;
    width: 100%;
}

.product-details-content label.control-label {
    font-size: 14px;
}

.product-details-content .form-control {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    height: 38px;
}

.product-details-content .form-control option {
    padding: 10px 0;
}

.product-details-content .products .product .add-to-cart {
    background: #80b435;
    margin: 0px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    opacity: 1;
    border: 1px solid #80b435;
}

.product-details-content .products .product .add-to-cart:after {
    content: "";
}

.product-details-content .products .product .add-to-cart:hover {
    background: #fff;
    color: #80b435;
}

.product-details-content .products .product .action {
    float: inherit;
    opacity: 1;
}

.product-details-content .products .product .action a {
    background: #eeeeee;
    opacity: 1;
    line-height: 54px;
    padding: 0 15px;
    display: inline-block;
    border: 1px solid #eeeeee;
}

.product-details-content .products .product .action a:hover {
    background: #80b435;
    border: 1px solid #80b435;
}

.product-details-content .products .product .action a:hover i {
    color: #fff;
}

.product-details-content.product-details-content-v2 {
    position: relative;
}

.product-details-content.product-details-content-v2 img {
    max-width: 100%;
}

.product-details-content.product-details-content-v2 .col-md-5 {
    position: absolute;
    left: 150px;
    top: 120px;
}

.hoz-tab-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

@media (min-width: 1500px) {
    .hoz-tab-container:after {
        position: absolute;
        content: '';
        left: 300px;
        width: 1px;
        top: 30px;
        bottom: 30px;
        background: #e6e6e6;
    }
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .hoz-tab-container .tabs {
        padding-right: 15px;
    }
}

.hoz-tab-container.ver2:after {
    width: 0px;
}

.hoz-tab-container.ver2 .tabs, .hoz-tab-container.ver2 .tab-container {
    width: 100%;
}

.hoz-tab-container.ver2 .tabs {
    max-width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.hoz-tab-container.ver2 .tabs li {
    display: inline-block;
    margin: 0 10px;
    font: 700 18px/20px "Roboto Condensed";
    text-transform: uppercase;
    border: none;
    padding-bottom: 25px;
    position: relative;
}

.hoz-tab-container.ver2 .tabs li:after {
    left: 50%;
    right: 50%;
    transition: all 0.3s ease 0s;
    content: '';
}

.hoz-tab-container.ver2 .tabs li.active:after, .hoz-tab-container.ver2 .tabs li:hover:after {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -2px;
    height: 3px;
    background: #80b435;
}

.hoz-tab-container .tabs {
    display: inline-block;
    width: 20%;
    float: left;
    max-width: 280px;
}

.hoz-tab-container .tabs li {
    display: block;
    border-bottom: 1px solid #e6e6e6;
    font: 400 24px/60px "Roboto Slab";
    color: #2b2b2b;
    text-transform: capitalize;
    cursor: pointer;
}

.hoz-tab-container .tabs li.active, .hoz-tab-container .tabs li:hover {
    color: #80b435;
}

.hoz-tab-container .tab-container {
    width: 80%;
    float: right;
    text-align: left;
}

.hoz-tab-container .tab-container .tab-content h3 {
    font: 700 24px/30px "Roboto Slab";
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #2b2b2b;
}

.hoz-tab-container .tab-container .tab-content p {
    font: 400 18px/25px "Roboto Condensed";
    margin-bottom: 30px;
    color: #666;
}

.hoz-tab-container .tab-container #description.mockup-v3 {
    text-align: center;
}

.hoz-tab-container .tab-container #description p {
    font-weight: 400;
    line-height: 28px;
}

.hoz-tab-container .tab-container #description p.center {
    text-align: center;
    max-width: 720px;
    color: #858585;
}

.hoz-tab-container .tab-container h3 {
    font-family: "Montserrat";
    font-style: normal;
    text-transform: capitalize;
    font-size: 18px;
    color: #333333;
}

.hoz-tab-container .tab-container h4 {
    color: #333333;
    font-size: 13px;
    margin-bottom: 10px;
}

.hoz-tab-container p {
    font: 400 14px/20px "Poppins";
    color: #000;
}

.hoz-tab-container #product-tags .button-v2 {
    margin-top: 20px;
    font: 700 12px "Oswald";
}

.hoz-tab-container #product-tags p {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    margin: 0px;
}

.hoz-tab-container #product-tags p span {
    font: 400 16px/60px "Roboto Slab";
    float: right;
}

.hoz-tab-container #product-tags p span:first-child {
    float: left;
    color: #2b2b2b;
}

#customer .border {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#customer .border p {
    margin-bottom: 0px;
    font: 400 18px "Roboto Condensed";
    color: #979797;
}

#customer .color {
    color: #ff0000;
}

#customer label {
    margin: 5px 0 0;
    font: 400 18px "Roboto Condensed";
    color: #2b2b2b;
}

#customer .form-horizontal {
    font-size: 13px;
}

#customer .form-horizontal label {
    margin-bottom: 10px;
    display: inline-block;
}

#customer .form-control {
    font: 400 18px "Roboto Condensed";
    border: 1px solid #e6e6e6;
}

#customer input[type=radio] {
    display: none;
}

#customer .customer-radio label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    color: #888888;
    text-transform: uppercase;
}

#customer .customer-radio label:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 2px;
    background: #fff;
    border: 1px solid #80b435;
    width: 12px;
    height: 12px;
}

#customer .customer-radio input[type=radio]:checked + label:before {
    background: #80b435;
}

#customer .rating li {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    position: relative;
    border-right: 1px solid #e6e6e6;
}

#customer .rating li:last-child {
    border: none;
}

#customer .rating li a.active i, #customer .rating li a:hover i {
    color: #80b435;
}

#customer .rating li a i {
    font-size: 14px;
    color: #e6e6e6;
}

#customer a.button-v1 {
    display: inline-block;
    text-align: center;
    font: 700 16px/48px "Roboto Condensed";
    color: #fff;
    background: #80b435;
    border: 1px solid #80b435;
    text-transform: uppercase;
    width: 180px;
    transition: all 0.3s ease 0s;
    float: right;
}

#customer a.button-v1:hover {
    background: #fff;
    color: #80b435;
}

#customer textarea {
    min-height: 100px;
}

.product-details-content p {
    font: 400 18px/28px "Roboto Condensed";
    color: #565656;
    margin-bottom: 30px;
}

.product-details-content .breadcrumb {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #2e2e2e;
}

.product-details-content .breadcrumb li {
    padding-right: 10px;
}

.product-details-content .breadcrumb li:first-child {
    padding-left: 0px;
}

.product-details-content .breadcrumb li a {
    color: #fff;
}

.product-details-content .breadcrumb li.active {
    color: #fff;
}

.product-details-content .breadcrumb li:after {
    content: "";
}

.product-details-content .breadcrumb li + li:before {
    color: #fff;
    margin-right: 10px;
}

.product-details-content .product-name {
    display: inline-block;
    width: 100%;
}

.product-details-content .description-lits {
    margin-bottom: 40px;
}

.product-details-content .description-lits h3 {
    font: 700 18px/30px "Roboto Slab";
    color: #2b2b2b;
    margin-bottom: 10px;
}

.product-details-content .description-lits li {
    font: 400 18px/30px "Roboto Slab";
    color: #666;
}

.product-details-content .description-lits li img {
    margin-right: 10px;
}





#googleMap {
    height: 640px;
    display: inline-block;
    width: 100%;
}





.page-contact .head {
    background: #fff;
    position: relative;
    padding: 40px;
    box-shadow: 0px 8px 33px 0px rgba(0, 0, 0, 0.13);
    display: inline-block;
    width: 100%;
    margin-top: -100px;
    margin-bottom: 35px;
}

.page-contact .head .item {
    width: 33.33%;
    float: left;
    display: table;
}

.page-contact .head .item:nth-child(2), .page-contact .head .item:nth-child(3) {
    padding-left: 50px;
}

.page-contact .head .item .icon, .page-contact .head .item .text {
    display: table-cell;
    vertical-align: middle;
}

.page-contact .head .item .text p {
    font: 400 18px/20px "Roboto Condensed";
    padding-left: 20px;
}

.page-contact .head .item .icon {
    width: 60px;
}

.page-contact .head .item .icon span {
    width: 40px;
    height: 40px;
    background: #80b435;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.page-contact .content-text {
    width: 100%;
    max-width: 660px;
    margin: auto;
}

.page-contact .content-text h3 {
    color: #80b435;
    font: 400 48px/50px "Roboto Slab";
    margin-bottom: 0px;
}

.page-contact .content-text h3:after {
    height: 0px;
}

.page-contact .content-text p {
    font: 400 24px/30px "Roboto Slab";
    color: #333;
    margin-bottom: 50px;
}

.page-contact .content-text .form-control {
    border: 1px solid #e6e6e6;
}

.page-contact .content-text textarea {
    min-height: 130px;
}



.table.wishlist {
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .table.wishlist {
        margin-bottom: 50px;
    }
}

.table.wishlist img {
    width: 100px;
}

.table.wishlist tbody tr:first-child td {
    border-top: none;
}

.table.wishlist tbody tr {
    padding: 30px 0px;
}

.table.wishlist tbody td {
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .table.wishlist tbody .product-photo {
        width: 120px;
    }
}

.table.wishlist tbody .produc-name {
    text-align: left;
    font: 400 14px/20px "Poppins";
}

@media (min-width: 768px) {
    .table.wishlist tbody .produc-name {
        width: 350px;
    }
}

.table.wishlist tbody .produc-name a {
    color: #333;
}

.table.wishlist tbody .produc-name a:hover {
    color: #80b435;
}

.table.wishlist tbody .produc-name p {
    margin: 0px;
    color: #979797;
}

.table.wishlist tbody .product-remove a {
    color: #333;
    font-family: "Poppins";
}

.table.wishlist tbody .product-price {
    font-family: "Poppins";
}

@media (min-width: 768px) {
    .table.wishlist tbody .product-price {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .table.wishlist tbody .product-price {
        display: none;
    }
}

@media (max-width: 480px) {
    .table.wishlist tbody .product-instock {
        display: none;
    }
}

.table.wishlist tbody .product-instock a, .table.wishlist tbody .product-instock span {
    font: 400 10px/20px "Oswald";
    letter-spacing: 2px;
    border: 2px solid #000;
    text-transform: uppercase;
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #000;
}

.table.wishlist tbody .product-instock span {
    border-color: #e7e7e7;
    background: #e7e7e7;
    color: #c1c1c1;
}

.table.wishlist tbody .add-cart {
    text-align: right;
}

.table.wishlist tbody .add-cart a.btn {
    height: 44px;
    line-height: 40px;
    width: 130px;
    text-align: center;
    font-size: 10px;
    padding: 0px;
    background: #f56666;
    border-color: #f56666;
}

